<mat-toolbar color="primary">
  <span>News App</span>
</mat-toolbar>


<mat-form-field appearance="fill">
  <mat-label>Select a category</mat-label>
  <mat-select [formControl]="categoryControl">
    <mat-option *ngFor="let category of categories" [value]="category.key">
      {{category.value}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Search by Title(name)</mat-label>
  <input matInput [(ngModel)]="filterBy" (keyup)="filter()">
</mat-form-field>


<mat-form-field>
  <mat-label>Search API</mat-label>
  <input matInput [formControl]="searchTerm">
</mat-form-field>



  <ul
    infiniteScroll
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <li *ngFor="let article of listArticles">
      <b>{{ article.name }} - {{ article.category }}</b>
      <p>{{ article.description }}</p>
      <p>{{ article.country }}</p>
      <p>{{ article.language }}</p>
      <a href="{{ article.url }}">{{ article.url }}</a>
    </li>
  </ul>



